body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e8d4d4;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    color: #333;
}

h2 {
    font-size: 22px;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p, ul {
    line-height: 1.6;
    color: #555;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

img {
    width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    border: 2px solid #ddd;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }
}
